@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eaeaea;
}

/* login style */

.container-login {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
}

.content-left-login {
  width: 45%;
  height: 563px;
  background: #8592d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-left-login img {
  max-width: 95%;
  height: auto;
}

.content-right-login {
  width: 40%;
  height: 563px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-right-login .title-login {
  color: #8592d9;
  font-family: Poppins;
  font-size: 3.5vw;
  font-weight: 700;
  margin-top: 49px;
  margin-bottom: 20px;
}

.content-right-login .title-login span {
  font-size: 4vw;
}

.container-login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wraper-form-login {
  width: 90%;
}

.wraper-form-login .form-grup {
  position: relative;
}

.wraper-form-login .form-control {
  width: 100%;
  height: 60px;
  padding: 15px 0 15px 82px;
  border-radius: 30px;
  border: 1px solid #000;
  background: rgba(243, 243, 243, 0);
  color: rgba(0, 0, 0, 0.7);
  font-family: Poppins;
  font-size: 1.5vw;
  font-weight: 400;
  outline: none;
}

.icon-form-login {
  position: absolute;
  top: 16px;
  bottom: 16px;
  left: 33px;
}

.formpass {
  margin: 39px 0 52px 0;
}

.wraper-form-login .btn-login {
  border: none;
  width: 100%;
  height: 60px;
  border-radius: 30px;
  background: #4f71eb;
  cursor: pointer;
  color: #fff;
  font-family: Poppins;
  font-size: 1.6vw;
  font-weight: 600;
}

.wraper-form-login .btn-login:hover {
  background: #3455ca;
  transition: 0.3s;
}

.alert {
  width: 87%;
  height: 44px;
  padding: 8px 0 8px 15px;
  border-radius: 5px;
  background: #ffc8c8;
  color: #da2f2f;
  font-family: Poppins;
  font-size: 1.1vw;
  font-weight: 400;
}

.alert-success {
  background: #c8ffd4;
  color: rgb(75, 172, 80);
}

.container-tabel-content.ganti-pass {
  margin-bottom: 74px;
}

/* login style end */

/* dashboard style start */

.container-dashboard {
  display: flex;
  background-color: #eaeaea;
}

.col-right {
  width: 79%;
  position: relative;
  /* border: 1px solid red; */
  left: 21%;
  transition: all 0.3s ease-out;
}

.col-right.navtopActive {
  transition: all 0.3s ease-out;
  width: 95%;
  left: 5%;
}

.header-top-nav {
  width: inherit;
  height: 67px;
  background: #3b519c;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  z-index: 999;
}

.header-top-nav .content-nav-top {
  display: flex;
  align-items: center;
  margin-right: 4rem;
  cursor: pointer;
  position: relative;
}

.content-nav-top .arrow-bot {
  margin-left: 21px;
}

.wraper-nav-content {
  position: absolute;
  top: 140%;
  right: 5%;
  width: 230px;
  height: 190px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
  transform: scale(0);
  transform-origin: top right;
  transition: .2s linear;
}

.wraper-nav-content.activeCntn {
  transform: scale(1);
}

.wraper-content-div {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #CFCFCF;;
  padding: 12px;
}

.wraper-content-div img {
  margin-right: 15px;
}

.wraper-content-div .right-content2 .desc-nama {
  color: #4d4d4d;
  font-family: Inter;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wraper-content-div .right-content2 .desc-status {
  color: #767676;
  font-family: Inter;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 4px;
}

.cntn {
  height: 47px;
}

.cntn a {
  text-decoration: none;
}

.cntn svg {
  margin-right: 12px;
}

.cntn span {
  color: #4c4c4c;
  font-family: Poppins;
  font-size: 1vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bot {
  border-bottom: none;
}

aside {
  position: fixed;
  left: 0;
  top: 0;
  width: 21%;
  height: 100vh;
  background: #fff;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-out;
}

aside.slideactive {
  width: 5%;
  transition: all 0.3s ease-out;
}

aside .header-side-nav {
  background: #4c6bd2;
  height: 67px;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  align-items: center;
  transition: all 0.3s ease-out;
}

aside.slideactive .header-side-nav {
  padding: 4px;
  justify-content: center;
  transition: all 0.3s ease-out;
}

.header-side-nav h1 {
  color: #fff;
  font-family: Poppins;
  font-size: 2.2vw;
  font-weight: 700;
}

aside.slideactive .header-side-nav h1 {
  display: none;
}

.header-side-nav .icon-burger {
  cursor: pointer;
  width: 28px;
  height: 28px;
}

aside .wraper-profile-side-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

aside .profile-side-nav {
  width: 90%;
  height: 100px;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 83px 0 11px;
}

aside.slideactive .profile-side-nav {
  padding: 22px 0;
  justify-content: center;
}

.profile-side-nav img {
  max-width: 100%;
  height: auto;
  transition: all 0.3s ease-out;
}

aside.slideactive .profile-side-nav img {
  max-width: 55px;
  height: auto;
  transition: all 0.3s ease-out;
}

.profile-side-nav .desc-profile-side {
  margin-left: 1.7rem;
}

aside.slideactive .desc-profile-side {
  display: none;
}

.profile-side-nav .desc-profile-side .desc-nama {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2vw;
  font-weight: 400;
  font-family: Poppins;
}

.profile-side-nav .desc-profile-side .desc-status {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1vw;
  font-weight: 400;
  font-family: Poppins;
}

nav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul li {
  width: 90%;
  height: 50px;
  list-style-type: none;
  margin-top: 2rem;
  padding: 4px;
}

nav ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 21px;
  border-radius: 10px;
  transition: all 0.3s ease-in;
}

.active {
  background: #3b519c;
  transition: all 0.2s ease;
}

.active:hover {
  background: #3b519c;
}

.active p {
  color: white;
}

.active svg {
  color: white;
}

nav ul li a:hover {
  background-color: #d8d8d8;
  transition: 0.3s;
}

aside.slideactive nav ul li a {
  padding: 0 4px 0 4px;
  transition: all 0.3s ease-in;
  position: relative;
  align-items: center;
  justify-content: center;
}

nav ul li a svg {
  margin-right: 0.9rem;
  transition: all 0.3s ease-in;
  color: black;
}

aside.slideactive nav ul li a svg {
  margin-right: 0;
  transition: all 0.3s ease-in;
}

nav ul li a p {
  font-family: Poppins;
  font-size: 1.2vw;
  font-weight: 600;
  color: #000;
  transition: all 0.3s;
  transition-delay: 0.1s;
  transform-origin: left;
}

aside.slideactive nav ul li a p {
  transition: all 0.3s;
  transform: scale(0);
  width: 100%;
  position: absolute;
  left: -500px;
}
/* dashboard style end */

/* main content start */
.main-content {
  background-color: #eaeaea;
  padding: 35px;
  height: max-content;
  position: relative;
  margin-top: 67px;
  /* border: 1px solid yellow; */
}

::-webkit-scrollbar {
  display: none;
}

.page-location {
  display: flex;
  align-items: center;
  margin-bottom: 41px;
}

.page-left {
  display: flex;
  align-items: center;
  height: 45px;
  border-right: 1px solid #adadad;
  margin-right: 22px;
  padding-right: 12px;
}

.page-left svg {
  margin: 0 17px 0 0;
  color: #4d4d4d;
}

.page-left span {
  color: #4d4d4d;
  font-family: Poppins;
  font-size: 2.1vw;
  font-weight: 600;
  letter-spacing: 0.25px;
  margin-top: 2px;
}

.page-right {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.page-right svg {
  color: #68686899;
}

.arr-right-content {
  margin: 0 11px 0 11px;
}

.page-right span {
  color: rgba(0, 0, 0, 0.6);
  font-family: Poppins;
  font-size: 1vw;
  font-weight: 400;
  letter-spacing: 0.15px;
}

.jumbotron {
  display: flex;
  height: 230px;
  align-items: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: -4px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.content-left-jumbotron {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-right-jumbotron {
  width: 47%;
  height: 198px;
  margin-left: 88px;
}

.wraper-desc-jumbotron .desc1-jumbotron {
  color: #3349bf;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7vw;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.46px;
}

.wraper-desc-jumbotron .desc1-jumbotron span {
  font-weight: 600;
}

.wraper-desc-jumbotron .desc2-jumbotron {
  color: rgba(0, 0, 0, 0.7);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1vw;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.6px;
  margin: 12px 0 20px 0;
}

.wraper-desc-jumbotron a {
  text-decoration: none;
  width: 221px;
  height: 42px;
  border-radius: 30px;
  background: #3b519c;
  display: flex;
  align-items: center;
}

.wraper-desc-jumbotron a:hover {
  background: #283e86;
  transition: all 0.3s ease-out;
}

.wraper-desc-jumbotron a svg {
  margin: 0 10px 0 23px;
}

.wraper-desc-jumbotron a span {
  color: #fff;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.container-card-content {
  margin-top: 73px;
  display: flex;
  flex-wrap: wrap;
  gap: 43px;
}

.container-card-content.flexActive {
  gap: 35px;
}

.card {
  width: 305px;
  max-width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.container-card-content.flexActive .card {
  width: 280px;
}

.card svg {
  margin: 16px 12px 16px 29px;
}

.card .wraper-card-desc .card-desc {
  color: #dcdcdc;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 600;
}

.card .wraper-card-desc .card-count {
  color: #dcdcdc;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
}

.mobil {
  background: #6e16ff;
}

.kostumer {
  background: #48a7ff;
}

.transaksi {
  background: #3278b9;
}

.selesai {
  background: #ffbb36;
}

.belumSelesai {
  background: #1ea474;
}

/* responsive card */
@media only screen and (min-width: 1368px) {
  .container-card-content {
    gap: 33px;
  }

  .container-card-content.flexActive {
    gap: 37px;
  }

  .container-card-content.flexActive .card {
    width: 290px;
  }

  footer {
    bottom: -130px;
  }
}

@media only screen and (max-width: 1360px) {
  .container-card-content {
    gap: 33px;
  }

  .card {
    width: 30%;
  }

  .container-card-content.flexActive .card {
    width: 31%;
  }
}
/* main content end */

footer {
  width: 100%;
  height: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.281);
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: rgba(0, 0, 0, 0.7);
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* style tabel mobil */
.container-tabel-content {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 0px 0px 4px 4px rgba(157, 157, 157, 0.25);
  padding: 0 19px 20px 19px;
}

.container-tabel-content h3 {
  border-bottom: 1px solid #c1c1c1;
  padding: 10px 0 30px 33px;
  color: #4d4d4d;
  font-family: Poppins;
  font-size: 1.9vw;
  font-weight: 600;
  letter-spacing: 0.25px;
}

.wraper-tabel-top {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 13px;
}

.content-tabel-left a {
  text-decoration: none;
  width: 70%;
  height: 37px;
  padding: 10px 9px 10px 6px;
  border-radius: 5px;
  background: #4ca870;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: all 0.3s ease;
}

.content-tabel-left .btn-input-kostumer {
  width: 80%;
}

.content-tabel-left a:hover {
  background: #35a560;
  transition: all 0.3s ease;
}

.content-tabel-left a p {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.14px;
}

.wraper-label {
  margin-top: 17px;
}

.wraper-label label {
  color: #6c6c6c;
  font-family: Poppins;
  font-size: 1.1vw;
  font-weight: 600;
  letter-spacing: 0.16px;
}

.wraper-label select {
  width: 50px;
  padding: 4px;
  margin: 0 7px;
}

.wraper-label span {
  color: #6c6c6c;
  font-family: Poppins;
  font-size: 1.1vw;
  font-weight: 600;
  letter-spacing: 0.16px;
}

.content-tabel-right span {
  color: #7d7d7d;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.16px;
}

.content-tabel-right input {
  width: 235px;
  height: 29px;
  border-radius: 3px;
  border: 1px solid rgba(165, 165, 165, 0.5);
  background: rgba(217, 217, 217, 0);
}

.container-tabel {
  margin-top: 22px;
}

.container-tabel table {
  border-collapse: collapse;
  width: 100%;
}

.container-tabel tr,
th,
td {
  border: 1px solid rgba(0, 0, 0, 0.37);
}

.container-tabel th,
td {
  height: 45px;
  text-align: center;
  font-family: Poppins;
  font-size: 1.1vw;
  color: rgba(0, 0, 0, 0.63);
  /* padding: 4px; */
}

.container-tabel th {
  color: rgba(0, 0, 0, 0.781);
}

.td-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.btn-action {
  text-decoration: none;
  color: white;
  width: 70%;
  height: 37px;
  border-radius: 5px;
  margin: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit {
  background: #ffa132;
}

.hapus {
  background: #f55959;
}

form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  padding: 10px;
}

form .form-group label {
  font-size: 1.2vw;
  font-family: Poppins;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.534);
}

form .form-group .form-control {
  height: 40px;
  width: 70%;
  padding: 10px;
  outline: none;
  font-size: 1vw;
  font-family: Poppins;
  color: rgba(0, 0, 0, 0.788);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.719);
}

form .group-btn {
  flex-direction: row;
}

form .form-group .btn-input-mobil {
  width: 100px;
  padding: 7px 10px;
  border-radius: 15px;
  border: none;
  background-color: #3b519c;
  color: white;
  font-size: 1.1vw;
  font-family: Poppins;
  cursor: pointer;
}

form .form-group a {
  text-decoration: none;
  width: 100px;
  border-radius: 15px;
  border: none;
  background-color: #727272;
  color: white;
  font-size: 1.1vw;
  font-family: Poppins;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.th-trns,
.td-trns {
  font-size: 1vw;
  height: 70px;
}

.td-btn-transaksi {
  padding: 4px;
}

.btn-action-transaksi {
  text-decoration: none;
  color: white;
  width: 100px;
  padding: 4px 7px;
  border-radius: 4px;
}

.selesaiTrns {
  background: #7dff32;
}

.batalkan {
  background: #df3f3f;
}

.wraper-btn-trans {
  margin-bottom: 10px;
}

.btn-input-cetak {
  text-decoration: none;
  width: 100px;
  padding: 7px 10px;
  border-radius: 15px;
  border: none;
  background: #ffa132;
  color: white;
  font-size: 1.1vw;
  font-family: Poppins;
  cursor: pointer;
}

.btn-input-print {
  text-decoration: none;
  width: 100px;
  padding: 7px 10px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.548);
  background-color: white;
  color: black;
  font-size: 1.1vw;
  font-family: Poppins;
  cursor: pointer;
}

.container-about-content {
  width: 100%;
  height: 70vh;
  border-radius: 5px;
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 0px 0px 4px 4px rgba(157, 157, 157, 0.25);
  padding: 0 19px 20px 19px;
}

.container-about .wraper-desc-about {
  margin-top: 40px;
}

.wraper-desc-about span {
  color: #df3f3f;
  margin-right: 10px;
}

.wraper-desc-about p {
  font-family: Poppins;
  margin-top: 10px;
  color: rgb(71, 71, 71);
  font-size: 1vw;
}

.wraper-desc-about h3 {
  font-size: 1.7vw;
  font-family: Poppins;
  color: rgba(0, 0, 0, 0.548);
}

.wraper-desc-about ul {
  margin-left: 20px;
  margin-top: 10px;
}

.wraper-desc-about ul li {
  list-style-type: circle;
  font-family: Poppins;
  color: rgb(71, 71, 71);
  font-size: 1vw;
}

.container-tabel-content.laporan {
  margin-bottom: 80px;
}
