@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* login style */

.container-login {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
}

.content-left-login {
  width: 45%;
  height: 563px;
  background: #8592d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-left-login img {
  max-width: 95%;
  height: auto;
}

.content-right-login {
  width: 40%;
  height: 563px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-right-login .title-login {
  color: #8592d9;
  font-family: Poppins;
  font-size: 3.5vw;
  font-weight: 700;
  margin-top: 49px;
  margin-bottom: 20px;
}

.content-right-login .title-login span {
  font-size: 4vw;
}

.container-login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wraper-form-login {
  width: 90%;
}

.wraper-form-login .form-grup {
  position: relative;
}

.wraper-form-login .form-control {
  width: 100%;
  height: 60px;
  padding: 15px 0 15px 82px;
  border-radius: 30px;
  border: 1px solid #000;
  background: rgba(243, 243, 243, 0);
  color: rgba(0, 0, 0, 0.7);
  font-family: Poppins;
  font-size: 1.5vw;
  font-weight: 400;
  outline: none;
}

.icon-form-login {
  position: absolute;
  top: 16px;
  bottom: 16px;
  left: 33px;
}

.formpass {
  margin: 39px 0 52px 0;
}

.wraper-form-login .btn-login {
  border: none;
  width: 100%;
  height: 60px;
  border-radius: 30px;
  background: #4f71eb;
  cursor: pointer;
  color: #fff;
  font-family: Poppins;
  font-size: 1.6vw;
  font-weight: 600;
}

.wraper-form-login .btn-login:hover {
  background: #3455ca;
  transition: 0.3s;
}

.alert {
  width: 87%;
  height: 44px;
  padding: 8px 0 8px 15px;
  border-radius: 5px;
  background: #ffc8c8;
  color: #da2f2f;
  font-family: Poppins;
  font-size: 1.1vw;
  font-weight: 400;
}

/* login style end */

/* dashboard style start */

.container-dashboard {
  display: flex;
  background-color: #eaeaea;
}

.col-right {
  width: 79%;
  height: 100vh;
  position: relative;
  left: 21%;
  transition: all 0.3s ease-out;
}

.col-right.navtopActive {
  transition: all 0.3s ease-out;
  width: 95%;
  left: 5%;
}

.header-top-nav {
  width: 100%;
  height: 67px;
  background: #3b519c;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-top-nav .content-nav-top {
  display: flex;
  align-items: center;
  margin-right: 4rem;
}

.content-nav-top .arrow-bot {
  margin-left: 21px;
}

aside {
  position: fixed;
  left: 0;
  top: 0;
  width: 21%;
  height: 100vh;
  background: #fff;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-out;
}

aside.slideactive {
  width: 5%;
  transition: all 0.3s ease-out;
}

aside .header-side-nav {
  background: #4c6bd2;
  height: 67px;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  align-items: center;
  transition: all 0.3s ease-out;
}

aside.slideactive .header-side-nav {
  padding: 4px;
  justify-content: center;
  transition: all 0.3s ease-out;
}

.header-side-nav h1 {
  color: #fff;
  font-family: Poppins;
  font-size: 2.2vw;
  font-weight: 700;
}

aside.slideactive .header-side-nav h1 {
  display: none;
}

.header-side-nav .icon-burger {
  cursor: pointer;
  width: 28px;
  height: 28px;
}

aside .wraper-profile-side-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

aside .profile-side-nav {
  width: 90%;
  height: 100px;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 83px 0 11px;
}

aside.slideactive .profile-side-nav {
  padding: 22px 0;
  justify-content: center;
}

.profile-side-nav img {
  max-width: 100%;
  height: auto;
  transition: all 0.3s ease-out;
}

aside.slideactive .profile-side-nav img {
  max-width: 55px;
  height: auto;
  transition: all 0.3s ease-out;
}

.profile-side-nav .desc-profile-side {
  margin-left: 1.7rem;
}

aside.slideactive .desc-profile-side {
  display: none;
}

.profile-side-nav .desc-profile-side .desc-nama {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2vw;
  font-weight: 400;
  font-family: Poppins;
}

.profile-side-nav .desc-profile-side .desc-status {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1vw;
  font-weight: 400;
  font-family: Poppins;
}

nav ul {
  width: 100%;
  /* padding: 0 15px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul li {
  width: 90%;
  /* border: 1px solid red; */
  height: 50px;
  list-style-type: none;
  margin-top: 2rem;
  /* margin-left: 6px; */
  padding: 4px;
}

nav ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  /* padding: 12px 21px 12px 21px; */
  padding-left: 21px;
  border-radius: 10px;
  transition: all 0.3s ease-in;
  /* border: 1px solid black; */
}

nav ul li a:hover {
  background-color: #d8d8d8;
  transition: 0.3s;
}

aside.slideactive nav ul li a {
  /* width: calc(48px - (4px * 2)); */
  padding: 0 4px 0 4px;
  transition: all 0.3s ease-in;
  position: relative;
  align-items: center;
  justify-content: center;
}

nav ul li a svg {
  margin-right: 0.9rem;
  transition: all 0.3s ease-in;
  /* border: 1px solid black; */
}

aside.slideactive nav ul li a svg {
  margin-right: 0;
  transition: all 0.3s ease-in;
}

nav ul li a p {
  font-family: Poppins;
  font-size: 1.2vw;
  font-weight: 600;
  color: #000;
  transition: all 0.3s;
  transition-delay: 0.1s;
  transform-origin: left;
  /* display: none; */
}

aside.slideactive nav ul li a p {
  transition: all 0.3s;
  transform: scale(0);
  width: 100%;
  position: absolute;
  left: -500px;
  /* display: none; */
}
/* dashboard style end */

/* main content start */

.main-content {
  background-color: #eaeaea;
  padding: 35px 35px 0 35px;
  overflow-y: scroll;
  height: 90vh;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

.page-location {
  display: flex;
  align-items: center;
  margin-bottom: 41px;
}

.page-left {
  display: flex;
  align-items: center;
  height: 45px;
  border-right: 1px solid #adadad;
  margin-right: 22px;
  padding-right: 12px;
}

.page-left svg {
  margin: 0 17px 0 0;
}

.page-left span {
  color: #4d4d4d;
  font-family: Poppins;
  font-size: 2.1vw;
  font-weight: 600;
  letter-spacing: 0.25px;
  margin-top: 2px;
}

.page-right {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.arr-right-content {
  margin: 0 11px 0 11px;
}

.page-right span {
  color: rgba(0, 0, 0, 0.6);
  font-family: Poppins;
  font-size: 1vw;
  font-weight: 400;
  letter-spacing: 0.15px;
}

.jumbotron {
  display: flex;
  height: 230px;
  align-items: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: -4px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.content-left-jumbotron {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-right-jumbotron {
  width: 47%;
  height: 198px;
  margin-left: 88px;
}

.wraper-desc-jumbotron .desc1-jumbotron {
  color: #3349bf;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7vw;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.46px;
}

.wraper-desc-jumbotron .desc1-jumbotron span {
  font-weight: 600;
}

.wraper-desc-jumbotron .desc2-jumbotron {
  color: rgba(0, 0, 0, 0.7);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1vw;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.6px;
  margin: 12px 0 20px 0;
}

.wraper-desc-jumbotron a {
  text-decoration: none;
  width: 221px;
  height: 42px;
  border-radius: 30px;
  background: #3b519c;
  /* padding: 10px; */
  display: flex;
  align-items: center;
}

.wraper-desc-jumbotron a:hover {
  background: #283e86;
  transition: all 0.3s ease-out;
}

.wraper-desc-jumbotron a svg {
  margin: 0 10px 0 23px;
}

.wraper-desc-jumbotron a span {
  color: #fff;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.container-card-content {
  margin-top: 73px;
  display: flex;
  flex-wrap: wrap;
  gap: 43px;
}

.container-card-content.flexActive {
  gap: 35px;
}

.card {
  width: 305px;
  max-width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.container-card-content.flexActive .card {
  width: 280px;
}

.card svg {
  margin: 16px 12px 16px 29px;
}

.card .wraper-card-desc .card-desc {
  color: #dcdcdc;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 600;
}

.card .wraper-card-desc .card-count {
  color: #dcdcdc;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
}

.mobil {
  background: #6e16ff;
}

.kostumer {
  background: #48a7ff;
}

.transaksi {
  background: #3278b9;
}

.selesai {
  background: #ffbb36;
}

.belumSelesai {
  background: #1ea474;
}

/* responsive card */
@media only screen and (min-width: 1368px) {
  .container-card-content {
    gap: 33px;
  }

  .container-card-content.flexActive {
    gap: 37px;
  }

  .container-card-content.flexActive .card {
    width: 290px;
  }

  footer {
    bottom: -130px;
  }
}

@media only screen and (max-width: 1360px) {
  .container-card-content {
    gap: 33px;
  }

  .card {
    width: 30%;
  }

  .container-card-content.flexActive .card {
    width: 31%;
  }
}
/* main content end */

footer {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: -170px;
  left: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.281);
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: rgba(0, 0, 0, 0.7);
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
